{{ define "main"}}


    <h2><u>About me</u></h2>
    <p style = "padding-top:1rem;font-size:1.3rem;"> I am a PhD student in the Geomerix group at LIX in École Polytechnique under the supervision of Mathieu Desbrun.</p>
    <p style = "padding-top:1rem;font-size:1.05rem;"> In my work I focus on computational differential geometry, especially discrete exterior calculus. We work on extensions to discrete vector bundle valued forms and its possible applications.</p>
    <h3><u>Education</u></h3>
    <ul style="list-style-type:none;">
      <li class="education-item">M2 in Computer Science at IP-Paris</li>
      <li class="education-item">Master in Mathematics at TU Berlin</li>
      <li class="education-item">M1 in Mathematics at École Normale Superieure</li>
      <li class="education-item">Bachelor in Mathematics at TU Berlin</li>
    </ul>
  
    
{{end}}

